
.scrollarea {
    flex: 1;
    margin: auto auto;
    background-color: black;
}
.safeview {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    margin: auto auto;
    justify-content: center;

}

.child_container {
    display: flex;
    flex-direction: column;
    align-self: center;
    min-width: 80%;
    background-color: inherit;
    align-content: center;
}

.logo {
    font-size: 100px;
    font-family: 'bebas-neue';
    text-align: center;
    color: #0063A8
}

.header1 {
    font-size: 25px;
    font-family: 'space-mono';
    font-weight: normal;
    align-self: center;
}

.header2 {
    font-size: 30px;
    font-family: 'space-mono';
    font-weight: bolder;
    align-self: center;
}


.button{
    align-self: center;
    background-color: #0063A8;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 40px;
    border-radius: 50%;
    margin-top: 20px;
   
}

.button1 {
    overflow:'hidden';
    padding: 2px;
     margin: auto;
    
}

