
.child_container {
    display: flex;
    flex-direction: column;
    align-self: center;
    min-width: 80%;
    background-color: inherit;
    align-content: center;
}

.textInput {
    display: block;
    font-size: 20px;
    font-family: 'space-mono';
    font-weight: normal;
    font-variant: small-caps;
    color: #fff;
    padding-top: 20px;
    margin: 0 10%;
}
.textInput::before {
   opacity: .10;
}

.textInput::after {
    opacity: 0;
}

.inputLine {
    display: block;
    border: 1px solid #fff;
    margin: 0 10%;
}


.logo {
    font-size: 100px;
    font-family: 'bebas-neue';
    text-align: center;
    color: #0063A8
}

.logoSub{
    font-size: 20px;
    font-family: 'space-mono';
    font-weight: bolder;
    align-self: center;
    color: white;
    text-transform: uppercase;
}